.conteneur{
    margin:15px;
    padding:10px;
}

.entete{
    width:30%;
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
}

.image{
    width:20%;
    display:inline-block;
    vertical-align:top;
    box-sizing:border-box;
}
